<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
  <form action="/" method="GET">
    <input
      szem_szin="search" name="szem_szin"
      placeholder="szem szín"
    />
    <button class="search-btn" type="submit">Submit</button>
<div class="imae"></div>
</form>
    <table border="1"><tr>
        <% for (let m of macskak) { %>
                <td><a href="/macskak/<%= m.id %>">
                    Macska súlya: <%= m.suly %>\
                    <td>Szeme színe: <%= m.szem_szin %>
                </a>
              </tr>
        <% } %>
          </table>
          <a href="/macskak/new">Új macska hozzá adás</a>
</body>
</html>
