<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= macskak.szem_szin %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1><%= macskak.szem_szin %></h1>
    <p>Létrehozott súly: <%= macskak.suly %></p>
    <p><a href="/">Vissza a főoldalra</a>
      <form action="<%= macskak.id%>/delete" method="POST">
        <input type="submit" value="Delete">
      </form>
  </p>
</body>
</html>
